.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.badge-slider {
  background: transparent;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  height: 500px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.badge-slider::before,
.badge-slider::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 500px;
  position: absolute;
  width: auto;
  z-index: 2;
}

.badge-slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.badge-slider::before {
  left: 0;
  top: 0;
}

.badge-track {
  display: flex;
  animation: scroll 40s linear infinite;
  width: calc(250px * 14);
}

.badge-slide {
  height: 500px;
  width: auto;
  padding: 2.5rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
