/* LinkedInBadge.css */
.badges-container {
  height: 400px; /* Adjust height as needed */
  overflow: hidden;
  position: relative;
}

.badges-container > div {
  transition: transform 0.5s linear;
}
